<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />


    <title>现场挂号</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        .col-sm-1{
            width: 10%;
        }
        .col-sm-l{
            width: 25%;
        }
        .col-sm-r{
            width: 24%;
        }
        .row{
            margin-right: 0;
        }
    </style>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">患者信息查询</label>
            <label class="form-label col-xs-11 col-sm-11"></label>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>病历号：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="medical_record_num" >
            </div>
            <div class="formControls col-xs-2 col-sm-2">
                <input class="btn btn-primary radius" type="button" id="search_btn" value="&nbsp;&nbsp;搜索&nbsp;&nbsp;">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">患者信息确认</label>
            <label class="form-label col-xs-11 col-sm-11"></label>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-1 col-sm-1">姓名：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="pat_name" >
            </div>
            <label class="form-label col-xs-2 col-sm-2">身份证号：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="id_num" >
            </div>
            <label class="form-label col-xs-2 col-sm-2">家庭住址：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="address">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">患者消费信息</label>
            <label class="form-label col-xs-11 col-sm-11"></label>
        </div>
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">病历号</th>
                <th width="50">姓名</th>
                <th width="80">项目名称</th>
                <th width="30">单价</th>
                <th width="30">数量</th>
                <th width="80">开立时间</th>
                <th width="50">状态</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="formControls col-xs-2 col-sm-2" >
            <br><br>
            <input class="btn btn-primary radius" style="display: none" type="button" id="submit_btn" value="&nbsp;&nbsp;收费结算&nbsp;&nbsp;">
        </div>
    </form>

    <div class="form form-horizontal" id="charge_di" style="display: none">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2 col-sm-l">发票号(可修改)：</label>
            <div class="formControls col-xs-2 col-sm-2 col-sm-r">
                <input type="text" class="input-text" value="" placeholder="" id="invoice_num" >
            </div>
            <label class="form-label col-xs-2 col-sm-2 col-sm-l">病历号：</label>
            <div class="formControls col-xs-2 col-sm-2 col-sm-r">
                <input type="text" class="input-text" value="" placeholder="" id="medical_record_num_charge" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2 col-sm-l">患者姓名：</label>
            <div class="formControls col-xs-2 col-sm-2 col-sm-r">
                <input type="text" class="input-text" value="" placeholder="" id="pat_name_charge" >
            </div>
            <label class="form-label col-xs-2 col-sm-2 col-sm-l">支付方式：</label>
            <div class="formControls col-xs-2 col-sm-2 col-sm-r">
			<span class="select-box">
					<select class="select" id="payment_method">
						<option value="0">现金</option>
						<option value="1">微信</option>
                        <option value="2">支付宝</option>
					</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2 col-sm-l">应收金额：</label>
            <div class="formControls col-xs-2 col-sm-2 col-sm-r">
                <input type="text" class="input-text" value="" placeholder="" id="total_amount" >
            </div>
            <label class="form-label col-xs-2 col-sm-2 col-sm-l">实收金额：</label>
            <div class="formControls col-xs-2 col-sm-2 col-sm-r">
                <input type="text" class="input-text" value="" placeholder="" id="paid_amount" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2 col-sm-l">找零金额：</label>
            <div class="formControls col-xs-2 col-sm-2 col-sm-r">
                <input type="text" class="input-text" value="" placeholder="" id="change_amount" >
            </div>
        </div>
    </div>
</article>

<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        var medical_record_num;
        $("#search_btn").click(function () {
          medical_record_num = $.trim($("#medical_record_num").val())
            if (medical_record_num == '') {
                layer.alert('请输入病历号')
                return
            }
            if (!/^[0-9]*$/.test(medical_record_num)){
                layer.alert('病历号格式错误')
                return
            }
            $.ajax({
                type:'post',
                url:'findPatientAndDrug',
                data:{medicalRecordNum: medical_record_num},
                success:function (data) {
                    var patient = data['patient']
                    var drugList = data['drugList']
                    if(!patient){
                        layer.alert('该病历号不存在')
                        return
                    }

                    $("#pat_name").val(patient.patName)
                    $("#id_num").val(patient.idNum)
                    $("#address").val(patient.address)

                    $("#pat_name_charge").val(patient.patName)
                    $("#medical_record_num_charge").val(medical_record_num)

                    if (!drugList || drugList.length == 0) {
                        return
                    }
                    var trHtml = '';
                    drugList.forEach(function (drug) {
                        trHtml += '<tr><td><input type="checkbox" value="" name="drug"></td><td>@medical_record_num</td><td>@userName</td><td>@drugName</td><td>@drugPrice</td><td>@drugNum</td><td>@createTime</td><td>@status</td></tr>'
                                .replace('@medical_record_num', medical_record_num)
                                .replace('@userName', patient.patName)
                                .replace('@drugName', drug.drugName)
                                .replace('@drugPrice', drug.drugPrice)
                                .replace('@drugNum', drug.drugNum)
                                .replace('@createTime', drug.createTime.substring(0, 10))
                                .replace('@status', drug.status == '0'? '已开立' : drug.status == '1'? '已付款': '发生退费')
                    })
                    $("tbody").html(trHtml)
                    $("#submit_btn").show()
                }
            })
        })
        //应收金额
        var amount = 0
        $("#submit_btn").click(function () {
            var $drugList = $("input[name=drug]:checked")
            if ($drugList.length == 0){
                layer.alert('请选择收费项');
                return
            }
            $drugList.each(function () {
                var $tr = $(this).parents('tr');
                var price = parseInt($tr.find('td :eq(4)').text())
                var num = parseInt($tr.find('td :eq(5)').text())
                amount += price * num
            });


             $("#total_amount").val(amount)

            layer.open({
                type: 1,
                title:'发票信息(交费)',
                area: ['600px', '300px'],
                btn: [ '收费', '取消'],
                content: $('#charge_di'),
                yes:function () {
                    var refundRecord = {
                        medicalRecordNum: medical_record_num,
                        invoiceNum: $("#invoice_num").val(),
                        costCategory: '2',
                        totalAmount: amount,
                        paymentMethod: $("#payment_method").val()
                    }
                    $.ajax({
                        type:'post',
                        url:'charge',
                        contentType: "application/json",
                        data:JSON.stringify(refundRecord),
                        success:function (data) {
                            layer.alert('收费成功', { icon: 1, closeBtn: 0 }, function (index) {
                                layer.closeAll()
                            });
                        }
                    })
                }
            });
        });

        $("#paid_amount").blur(function () {
            //应收金额
            var total_amount = $("#total_amount").val()
            //实收金额
            var paid_amount = $(this).val()

            //自动填充找零金额
            $("#change_amount").val(parseFloat(paid_amount) - parseFloat(total_amount))
        })

    });
</script>
</body>
</html>
