<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />


    <title>现场挂号</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        .col-sm-1{
            width: 10%;
        }
        .row{
            margin-right: 0;
        }
        .Hui-aside{
            top: 0;
            background-color: #ffffff;
        }
        .patient_name{
            margin-left: 50px;
        }
        .Hui-aside .menu_dropdown dd li:hover{
            cursor: pointer;
            background-color: #BBFFEE;
        }
        .Hui-article-box{
            top: 5px;
        }
    </style>
</head>
<body>
    <aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
            <dl>
                <dt>待诊患者<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul class="waitPatient"></ul>
                </dd>
            </dl>
            <dl>
                <dt>已诊患者<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul class="finishPatient"></ul>
                </dd>
            </dl>
        </div>
    </aside>

    <section class="Hui-article-box">
        <form class="form form-horizontal" id="form_consultation">
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">患者信息</label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">病历号：</label>
                <div class="formControls col-xs-2 col-sm-2" id="medical_record_num"></div>

                <label class="form-label col-xs-2 col-sm-1">姓名：</label>
                <div class="formControls col-xs-2 col-sm-2" id="pat_name"></div>

                <label class="form-label col-xs-2 col-sm-1">性别：</label>
                <div class="formControls col-xs-2 col-sm-1" id="gender"></div>

                <label class="form-label col-xs-2 col-sm-1">年龄：</label>
                <div class="formControls col-xs-2 col-sm-1" id="pat_age"></div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">病历表</label>
                <label class="form-label col-xs-11 col-sm-11"></label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">主诉：</label>
                <div class="formControls col-xs-2 col-sm-8">
                    <textarea class="input-text" id="chiefComplaint" ></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">现病史</label>
                <div class="formControls col-xs-2 col-sm-8">
                    <textarea class="input-text" id="curMedHistory" ></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">现病治疗情况</label>
                <div class="formControls col-xs-2 col-sm-8">
                    <textarea class="input-text" id="curTreatmentSitua" ></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">既往史</label>
                <div class="formControls col-xs-2 col-sm-8">
                    <textarea class="input-text" id="pastMedHistory" ></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">诊断史</label>
                <div class="formControls col-xs-2 col-sm-8">
                    <textarea class="input-text" id="inspection_suggestion" ></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">过敏史</label>
                <div class="formControls col-xs-2 col-sm-8">
                    <textarea class="input-text" id="allergies" ></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">体格检查</label>
                <div class="formControls col-xs-2 col-sm-8">
                    <textarea class="input-text" id="physicalExam" ></textarea>
                </div>
            </div>

            <div class="formControls col-xs-2 col-sm-2" >
                <br><br>
                <input class="btn btn-primary radius" type="button" id="submit_btn" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </form>
    </section>

<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    function renderHtml(patientList, $dom) {
        if(patientList && patientList.length > 0){
            var patientHtml = ''
            patientList.forEach(function (patient) {
                patientHtml += ' <li>@medicalRecordNum<span class="patient_name">@name</span><input type="hidden" value="@hideValue"></li>'
                    .replace('@medicalRecordNum', patient.medicalRecordNum)
                    .replace('@name', patient.patName)
                    .replace('@hideValue', patient.medicalRecordNum + '_'+ patient.patName + '_' + patient.gender + '_' + patient.patAge)
            })
            $dom.html(patientHtml)
        }
    }
    function initLeftList(){
        $.ajax({
            type:'get',
            url:'findPatients',
            success:function (data) {
                renderHtml(data['waitPatient'], $(".waitPatient"))
                addLiClick()

                renderHtml(data['finishPatient'], $(".finishPatient"))
            }
        })
    }
    function addLiClick(){
        $(".waitPatient li").on('click',function(){
            var informationArray = $(this).find("input").val().split('_')
            $("#medical_record_num").text(informationArray[0])
            $("#pat_name").text(informationArray[1])
            $("#gender").text(informationArray[2])
            $("#pat_age").text(informationArray[3])
        })
    }
    $(function(){
        initLeftList()

        $("#submit_btn").click(function () {
            var medicalRecord = {
                medicalRecordNum: $("#medical_record_num").text(),
                chiefComplaint: $("#chiefComplaint").val(),
                curMedHistory: $("#curMedHistory").val(),
                curTreatmentSitua: $("#curTreatmentSitua").val(),
                pastMedHistory: $("#pastMedHistory").val(),
                allergies: $("#allergies").val(),
                physicalExam: $("#physicalExam").val(),
                medicalRecordStatus: '3'
            }
            for (var key in medicalRecord){
                if($.trim(medicalRecord.medicalRecordNum) == ''){
                    layer.alert('未选择患者')
                    return
                }
                if($.trim(medicalRecord[key]) == ''){
                    layer.alert('病历填写不能为空')
                    return
                }
            }
            $.ajax({
                type:'post',
                url:'saveMedicalRecord',
                contentType: "application/json",
                data:JSON.stringify(medicalRecord),
                success:function (data) {
                    layer.alert('提交成功', { icon: 1, closeBtn: 0 }, function (index) {
                        //刷新页面
                        location.href = 'consultationPage'
                    });
                }
            })
        })
    });
</script>
</body>
</html>
