<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/combo.select.css" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        .col-sm-1{
            width: 10%;
        }
        .row{
            margin-right: 0;
        }
        .pat_information{
            width: 100%;
            font-size: 18px;
            color: #ffffff;
            padding-left: 5px;
            background-color: #6dbfff;
        }
        .drug_btn{
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .table td{
            text-align: center;
        }
    </style>
</head>
<body>
<article class="page-container form">
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">病历号：</label>
        <div class="formControls col-xs-2 col-sm-2">
            <input type="text" class="input-text" value="" placeholder="" id="medical_record_num" >
        </div>
        <div class="formControls col-xs-2 col-sm-2">
            <input class="btn btn-primary radius" type="button" id="search_btn" value="&nbsp;搜索&nbsp;">
        </div>
    </div>

    <div class="row cl pat_information">
        患者病历情况
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-1">姓名：</label>
        <div class="formControls col-xs-2 col-sm-2" id="pat_name"></div>

        <label class="form-label col-xs-2 col-sm-1">性别：</label>
        <div class="formControls col-xs-2 col-sm-1" id="gender"></div>

        <label class="form-label col-xs-2 col-sm-1">年龄：</label>
        <div class="formControls col-xs-2 col-sm-1" id="pat_age"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">主诉：</label>
        <div class="formControls col-xs-2 col-sm-8">
            <textarea class="input-text" id="chiefComplaint" ></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">现病史</label>
        <div class="formControls col-xs-2 col-sm-8">
            <textarea class="input-text" id="curMedHistory" ></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">现病治疗情况</label>
        <div class="formControls col-xs-2 col-sm-8">
            <textarea class="input-text" id="curTreatmentSitua" ></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">既往史</label>
        <div class="formControls col-xs-2 col-sm-8">
            <textarea class="input-text" id="pastMedHistory" ></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">诊断史</label>
        <div class="formControls col-xs-2 col-sm-8">
            <textarea class="input-text" id="inspection_suggestion" ></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">过敏史</label>
        <div class="formControls col-xs-2 col-sm-8">
            <textarea class="input-text" id="allergies" ></textarea>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">体格检查</label>
        <div class="formControls col-xs-2 col-sm-8">
            <textarea class="input-text" id="physicalExam" ></textarea>
        </div>
    </div>

    <div class="row cl pat_information">
        处方药品明细
    </div>
    <div class="formControls col-xs-2 col-sm-2" >
        <a class="btn btn-primary radius drug_btn" id="addDrug" href="javascript:;">
          添加药品
        </a>
    </div>

    <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
        <thead>
        <tr class="text-c">
            <th width="80">药品名称</th>
            <th width="50">规格</th>
            <th width="80">单位</th>
            <th width="30">用法</th>
            <th width="30">用量</th>
            <th width="80">频次</th>
            <th width="50">数量</th>
            <th width="50">操作</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="formControls col-xs-2 col-sm-2" >
        <a class="btn btn-primary radius drug_btn" id="saveDrug" href="javascript:;">
            添加处方
        </a>
    </div>

    <div class="formControls col-xs-2 col-sm-2" >
        <br><br>
        <input class="btn btn-primary radius" style="display: none" type="button" id="submit_btn" value="&nbsp;&nbsp;收费结算&nbsp;&nbsp;">
    </div>

    <div class="form form-horizontal" id="drug_choose" style="display: none">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">药品名称：</label>
            <div class="formControls col-xs-2 col-sm-6">
                <select class="select" id="drug_name"></select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-xs-3">用法：</label>
            <div class="formControls col-xs-2 col-sm-6">
                <input type="text" class="input-text" id="use_method" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-xs-3">用量：</label>
            <div class="formControls col-xs-2 col-sm-6">
                <input type="text" class="input-text" id="drug_dosage" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-xs-3">频次：</label>
            <div class="formControls col-xs-2 col-sm-6">
                <input type="text" class="input-text" id="drug_frequency" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-xs-3">数量：</label>
            <div class="formControls col-xs-2 col-sm-6">
                <input type="text" class="input-text" id="drug_num" >
            </div>
        </div>
    </div>
</article>


<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="static/h-ui/js/jquery.combo.select.js"></script>
<script type="text/javascript">
    var drugList = []
    var medicalRecordNum;

    $(function(){
        initDrugList();

        $("#addDrug").click(function () {
            if (!medicalRecordNum){
                layer.alert('请先查询患者病历')
                return
            }
            layer.open({
                type: 1,
                title:'添加处方药品',
                area: ['500px', '400px'],
                btn: [ '确定', '取消'],
                content: $('#drug_choose'),
                yes:function () {
                    var drugArray = $("#drug_name").val().split('_')
                    var drugId = drugArray[0]
                    var drugSpeciFi = drugArray[1]
                    var packUnit = drugArray[2]
                    var prescription = {
                        drugId: drugId,
                        useMethod: $("#use_method").val(),
                        drugDosage: $("#drug_dosage").val(),
                        frequency: $("#drug_frequency").val(),
                        amount: $("#drug_num").val(),
                        mPreStatus: '0'
                    }
                    for (var key in prescription){
                        prescription[key] = $.trim(prescription[key])
                        if($.trim(prescription[key]) == ''){
                            layer.alert('输入不能为空')
                            return
                        }
                    }
                    drugList.push(prescription)
                    var trHtml = '<tr><td>@drugName</td><td>@drugSpeciFi</td><td>@packUnit</td><td>@useMethod</td><td>@drugDosage</td><td>@frequency</td><td>@amount</td><td class="f-14 td-manage"><a style="text-decoration:none" class="ml-5" onClick="drugDel(this)" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td></tr>'
                        .replace('@drugName', $("#drug_name").find("option:selected").text())
                        .replace('@drugSpeciFi', drugSpeciFi)
                        .replace('@packUnit', packUnit)
                      /*  .replace('@drugUnitPrice', drugUnitPrice)*/
                        .replace('@useMethod', prescription.useMethod)
                        .replace('@drugDosage', prescription.drugDosage)
                        .replace('@frequency', prescription.frequency)
                        .replace('@amount', prescription.amount)
                    $("tbody").append(trHtml)

                    layer.closeAll()
                }
            });
        })

        $("#search_btn").click(function () {
            var medical_record_num = $.trim($("#medical_record_num").val())
            if (medical_record_num == '') {
                layer.alert('请输入病历号')
                return
            }
            if (!/^[0-9]*$/.test(medical_record_num)){
                layer.alert('病历号格式错误')
                return
            }
            $.ajax({
                type:'get',
                url:'findMedicalRecord',
                data:{medicalRecordNum: medical_record_num},
                success:function (data) {
                    if(!data){
                        layer.alert('无患者病历记录')
                        return
                    }

                    medicalRecordNum = medical_record_num

                    $("#pat_name").text(data.patName)
                    $("#gender").text(data.gender)
                    $("#pat_age").text(data.patAge)
                    $("#chiefComplaint").text(data.chiefComplaint)
                    $("#curMedHistory").text(data.curMedHistory)
                    $("#curTreatmentSitua").text(data.curTreatmentSitua)
                    $("#pastMedHistory").text(data.pastMedHistory)
                    $("#allergies").text(data.allergies)
                    $("#physicalExam").text(data.physicalExam)
                }
            })
        })
        //应收金额
        $("#saveDrug").click(function () {
            if (!medicalRecordNum){
                layer.alert('请先查询患者病历')
                return
            }
           var medicinePrescription = {
               medicalRecordNum: medicalRecordNum,
               mPreStatus: '0'
           }
            $.ajax({
                type:'post',
                url:'saveMedicinePrescription',
                contentType: "application/json",
                data:JSON.stringify({medicinePrescription: medicinePrescription,medicinePrescriptionDetail: drugList}),
                success:function () {
                    layer.alert('处方开立成功', { icon: 1, closeBtn: 0 }, function (index) {
                        layer.closeAll()
                    });
                }
            })
        });

        /**
         * 查询药品初始化选择框
         */
        function initDrugList(){
            $.ajax({
                type:'get',
                url:'findDrugList',
                success:function (data) {
                    var $drug_name = $("#drug_name")
                    data.forEach(function (drug) {
                        var value = drug.drugId + '_' + drug.drugSpeciFi + '_' + drug.packUnit + '_' + drug.drugUnitPrice
                        $drug_name.append($("<option value="+ value +">"+drug.drugName+"</option>"))
                    })
                    $drug_name.comboSelect();
                }
            })
        }
    });
    function drugDel(obj){
        drugList.splice($(obj).index(), 1)
        $(obj).parents("tr").remove();
    }
</script>
</body>
</html>
